/* Reset default browser spacing */
body {
     margin: 0;
     font-family:Arial, sans-serif;
     background-color: #f4f4f4;
}

/*Header */
header {
     background-color: #2c3e50;
     color: white;
     padding: 20px;
     text-align: center;
}

/* Navigation */
nav {
    background-color: #34495e;
    padding: 10px;
    text align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font weight: bold;
}

nav a;hover {
     text-decoration: underline;
}

/*Main content */
main {
       padding: 20px;
}

/*sections*/
section {
          background-ccolor: white;
          padding:15px;
          margin-bottom: 20px;
          border radius: 5px;
}

/*Products */
.product {
          border: 1px solid #ccc;
          padding: 10px;
          margin-top: 10px;
          border-radius: 5px;
}

/*Price Styling */
.price {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        color: #d4af37; /* gold accent */
        margin: 10px 15px 20px;
        text-align: right;
        letter-spacing: 1px;
}

.card:hover .price {
  color: #fff;
  background: linear-gradient(to right, #d4af37, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Footer */
footer {
        background-color: #2c3e50;
        color: white;
        text-align: center;
        paddig: 10px;

}
